@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&family=Outfit:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: hsl(212, 45%, 89%);
    margin: 0;
    font-family: "outfit";
    font-size: 15px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh -1px);
    background: hsl(0, 0%, 100%);
    margin: 100px auto;
    padding: 18px;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    border-radius: 12px;
    padding-bottom: 5px;
}

.text-top{
    font-size: .9em;
    text-align: center;
    margin: auto 10px;
    color: hsl(218, 44%, 22%)
}

.text-down{
    text-align: center;
    margin: auto 10px;
    color: hsl(220, 15%, 55%);
}

.attribution{
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 500px){
    .hero{
        width: 400px;
    }
}
